<h1>Medications</h1>
<%= button_to "+ Add New Medication", new_medication_path , method: :get %>

<div id="medications">
  <div class="row">
    <% @medications.each do |medication| %>
      <div class="col-sm-6 mb-4 mb-sm-0 mt-4">
        <div class="card" style="width: 30rem;">
          <div class="card-body">
            <h5 class="card-title"> <%= medication.name%> </h5>
            <p class="card-text"><%= medication.expiration_date%> </p>
            <p class="card-text"><%= medication.dosage%> </p>
            <p class="card-text"><%= medication.description%> </p>
            <a href="/medications/<%= medication.id%>" class="btn btn-dark">Show this medication</a>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
