<h1>Medications</h1>
<%= link_to "New medication", new_medication_path %>

<div id="medications">
  <% @medications.each do |medication| %>
    <div class="row">
      <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"> <%= medication.name%> </h5>
            <p class="card-text"><%= medication.expiration_date%> </p>
            <p class="card-text"><%= medication.dosage%> </p>
            <p class="card-text"><%= medication.description%> </p>
            <a href="/medications/<%= medication.id%>" class="btn btn-primary">Show this medication</a>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
